.movies-card {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.movies-card:hover> .movies-card__save-btn {
  opacity: 1;
  transition: opacity 0.4s;
}

.movies-card__save-btn {
  opacity: 0;
  width: 72px;
  height: 21px;
  background-color: #F9F9F9;
  border-radius: 30px;
  position: absolute;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  top: 14px;
  right: 14px;
  transition: opacity 0.4s;
}

.movies-card__saved {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 14px;
  right: 14px;
  background: url(../../images/save.svg) no-repeat center;
  transition: background 0.3s, opacity 0.5s;
}

.movies-card__saved:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.movies-card:hover> .movies-card__saved {
  background: url(../../images/del.svg) no-repeat center;
  transition: background 0.3s;
}

.movies-card__frame {
  width: 360px;
  height: 201px;
  border-radius: 6px;
  object-fit: cover;
}

.movies-card__discription {
  display: flex;
  justify-content: space-between;
  margin: 14px 18px 0 14px;
}

.movies-card__name {
  max-width: 250px;
  height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movies-card__duration {
  color: #A0A0A0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  width: 52px;
  height: 18px;
  text-align: center;
  padding-top: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #F9F9F9;
  padding-top: 4px;
}

@media screen and (max-width: 768px) {
  .movies-card__frame {
    width: 339px;
    height: 190px;
  }

  .movies-card__discription {
    margin: 25px 0 0 0;
  }

  .movies-card__duration {
    margin: 0;
  }

  .movies-card__name {
    height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-clamp: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .movies-card__frame {
    width: 300px;
    height: 186px;
  }

  .movies-card__name {
    max-width: 240px;
  }

  .movies-card__discription {
    margin-top: 16px;
  }
  .movies-card__saved {
    top: 10px;
    right: 10px;
  }
  .movies-card__save-btn {
    opacity: 1;
    top: 10px;
    right: 10px;
  }
}