.navtab {
  background-color: black;
  display: flex;
}

.navtab__links {
  margin: 24px auto;
}

.navtab__link {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: white;
  margin: 0 20px;
  opacity: 1;
  transition: opacity 0.3s;
}

.navtab__link:hover {
  transition: opacity 0.3s;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .navtab__links {
    margin: 25px auto;
  }
}

@media screen and (max-width: 425px) {
  .navtab__link {
    font-size: 11px;
  }
}