.card {
  border-radius: 10px;
  background-color: #E8E8E8;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
  letter-spacing: -0.56px;
  transition: transform 0.3s;
  cursor: default;
  margin: 0;
}

.card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .card {
    line-height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}